<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
      {#<meta property="og:image" content=""/>#}
      {#<meta property="og:title" content=""/>#}
      {#<meta property="og:description" content=""/>#}
      {#<meta property="og:url" content= "" />#}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Boilerplate</title>
  </head>
  <body>
  <img style="display: block; max-width: 100%" src="{{ image.src }}" />
  <div class="example-component">
      {% include "./components/example-component/example-component.twig" with {
        'include' : 'Инклюд работает!'
      } %}
<br />
    Большие буквы и градинет есть - css подключается
  </div>
  </body>
</html>
